<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/Home_styles.css" />
    <!-- Red Rose Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <!-- Dela Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet" />
    <title>Restaurant - Inicio</title>
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <section aria-label="navbar">
            <nav class="navbar">
                <div class="div-nav">
                    <a href="/users/Home/">
                        <img src="/styles/assets/logo.png" alt="logo" class="logo" />
                    </a>
                </div>
                <div class="div-nav">
                    <ul class="list">
                        <li class="list-item">
                            <a href="#menu">Nuestro menú</a>
                        </li>
                        <li class="list-item">
                            <a href="#mapa">Mapa</a>
                        </li>
                        <li class="list-item">
                            <a href="#about">Sobre nosotros</a>
                        </li>
                        <li class="list-item">
                            <a href="#contact">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="div-nav">
                    <div>
                        <a href="/users/login/admin/">
                            <button class="button-large">Perfil</button>
                        </a>
                    </div>
                </div>
            </nav>
        </section>
        <!-- Hero Section -->
        <section aria-label="hero">
            <div class="hero">
                <h1 class="hero-heading">
                    Un restaurante que sólo sirve comida deliciosa
                </h1>
                <a href="#menu">
                    <button class="button-large">Mira nuestro menú</button>
                </a>
            </div>
        </section>
    </div>
</body>

</html>