<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio de sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/Login_styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="body">
    <div class="login-page">
        <div class="form">
            <form id="loginform" onsubmit="loginUser(event)">
                <lottie-player
                    src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
                    background="transparent"
                    speed="1"
                    style="justify-content: center"
                    loop
                    autoplay
                ></lottie-player>
                <input type="email" id="email" name="email" placeholder="Correo electronico" />
                <input type="password" id="password" name="password" placeholder="Contraseña" />
                <button type="submit">Iniciar sesión</button>
            </form>
            <div id="message"></div>
        </div>
    </div>
    <script>
      async function loginUser(event) {
          event.preventDefault();
          const form = document.getElementById('loginform');
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries());

          try {
              const response = await fetch('/users/login', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(data)
              });

              const result = await response.json();
              const messageDiv = document.getElementById('message');

              if (response.ok) {
                  messageDiv.innerHTML = `<p style="color: green;">${result.message}</p>`;
                  // Redirigir a la página de login después de 2 segundos
                  setTimeout(() => {
                      window.location.href = '/users/Home/';
                  }, 2000);
              } else {
                  // Manejar errores de validación
                  if (result.detail && Array.isArray(result.detail)) {
                      const errorMessages = result.detail.map(error => `<p style="color: red;">${error.msg}</p>`).join('');
                      messageDiv.innerHTML = errorMessages;
                  } else {
                      messageDiv.innerHTML = `<p style="color: red;">${result.detail}</p>`;
                  }
              }
          } catch (error) {
              console.error('Error:', error);
          }
      }
    </script>
</body>
</html>