<!DOCTYPE html>
<html lang="en">
<head>
    <title>Perfil de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/Profile_styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css" />
</head>

<body class="body">
    <div class="profile-page">
        <div class="profile-info">
            <h1>Bienvenido a tu perfil</h1>
            <p>Aquí puedes ver y actualizar tu información.</p>
            <!-- Información del perfil -->
        </div>
    </div>
</body>
</html>